.circular--landscape {
  display: inline-block;
  position: relative;
  width: 7em;
  height: 7em;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}
