.title h3 {
  font-size: 1.7em;
  margin-bottom: 0px;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 95%;
  margin-top: 1em;
}

.img-fluid {
  margin-bottom: 1.5em;
}

h4 {
  font-family: 'Lato', sans-serif;
}


.div1 {
  display: flex;
  justify-content: space-between;
}

.listing_body {
  margin-bottom: 1.5em;
}

.listing_details {
  margin-bottom: 1.5em;
}
