// landing page

.mobile_navbar {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}

.featured {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.featured_listings_title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1em;
}

.all_featured_products {
  display: flex;
  align-items: flex-start;
}

.main_feed_title {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.all_products {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7em;
  margin-left: 2em;
  margin-right: 2em;
}

.item_description {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  margin-bottom:1.5em;
  word-wrap: normal;
}

.filter_by_price {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom:1.5em;
}

.listings {
  border-color:#3D405B;
  border-style: solid;
  border-width: 2px;
  padding: 0.3em;
  width: 100%;
}

// modal
textarea{
  resize: none;
}


// login and register page
.form-control{
  margin-bottom: .8em;
}

.form_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin-top: 2em;
}

.text-center {
  text-align: center;
}


h4 {
  font-family: 'Lato', sans-serif;
}

// create listing page

.form-select {
  margin-bottom:1.2em;
}

form textarea{
  resize: none;
  height: 100%;
}

// my listing page

.message_box {
  display: flex;
  flex-direction: row;
}

.message_body {
display: flex;
flex-direction: column;
justify-content: space-evenly;
padding-left: 2em;
}

.messagemessage {
  display: flex;
}


